{{!-- <div id="login">login</div> --}}
<div class="jumbotron text-center" id="jumbotron">
    <h1 id="burger-icon"><i class="fa fa-bars" aria-hidden="true"></i></h1>
    <h2 id="burger-header">Eat-Da-Burger!</h2>
</div>
<div class="container text-center" id="container">
    <div class="row">
        <div class="col-xs-7" id="uneaten-container">
            <h3>Uneaten Burgers</h3>
            {{#each burgers}}
            {{#unless this.devoured}}
            <form action="/{{this.id}}?_method=PUT" method="POST">
                <div class="uneaten text-center">
                    <span class="uneaten-id">{{this.id}}</span>. {{this.burger_name}}
                </div>
                <button class="eat-button btn btn-success btn-xs" type="submit">Devour It!</button>
            </form>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col-xs-5" id="eaten-container">
            <h3>Eaten Burgers</h3>
            {{#each burgers}}
            {{#if this.devoured}}
            <div class="eaten text-center">
                {{this.id}}. {{this.burger_name}}
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Add a Burger</h2>
            <form method="POST" action="/" class="button-size">
                <textarea id="text-area" type="text" name="burger"></textarea>
                <button class="btn btn-primary" id="add-button" type="submit">Add-Da-Burger</button>
            </form>
            <form method="POST" action="/?_method=PUT" class="button-size">
                <button class="btn btn-info" id="reset-button" type="submit">Un-Devour-Da-Burgers</button>
            </form>
            <h2>Delete a Burger</h2>
            <form action="/?_method=DELETE" method="POST" class="button-size">
                <select name="id" class="select">
		            {{#each burgers}}
			        <option class="options" value="{{this.id}}">{{this.id}}. {{this.burger_name}}</option>
	            	{{/each}}
	            </select>
                <button id="delete-button" class="btn btn-warning" type="submit">Delete-Da-Burger</button>
            </form>
        </div>        
    </div>
</div>
<br>

<!-- customer login modal -->
<div id="login-modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content text-center">
            <div class="modal-header">
                <h2 class="modal-title"><strong>Login</strong></h2>
            </div>
            <div class="modal-body">
                <h3>Customer Name</h3>
                <form action="/api/customer" method="POST" class="button-size" autocomplete="off">
                    <input id="customer-text" type="text" name="customer"></textarea>
                    <button id="login-button" class="btn btn-primary" type="submit">Login</button>
                </form>
            </div>
        </div>

    </div>
</div>

<script src="js/login.js"></script>